<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path team.photo.key %>);">
  <div class="container">
  <p><%=team.dungeon_type%></p>
  </div>
</div>
