<div class="nav-profile d-flex justify-content-end align-items-center">

  <div>
  <%= cl_image_tag @user.avatar.key, class: "user-picture", width: 100, height: 100, crop: :fill%>
    <h3><%= @user.name %></h3>
  </div>

  <%= link_to "Create a Team", owner_teams_path, class: "btn btn-primary btn-lg new-team-btn  m-5" %>
</div>

<div class="container profile-box d-flex justify-content-center align-items-center p-5m-5">
  <div class="infos">
    <button type="button" class="btn btn-primary">infos</button>
  </div>
  <div class="teams">
    <button type="button" class="btn btn-primary">teams</button>
  </div>
  <div class="requests">
    <button type="button" class="btn btn-primary">requests</button>
  </div>
  <div class="booking">
    <button type="button" class="btn btn-primary">booking</button>
  </div>

</div>
