.nav-profile {
  width: auto;
  height: 200px;
  background-color: #373737;
}

.new-team-btn {
  border-radius: 10px;
  justify-content: center;
}

.new-team-btn:hover {

}

.user-picture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profile-box {
  width: auto;
  height: 100px;
}
