.h2-log-in {
  text-align: center;
  text-transform: capitalize;
}

.log-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-log-in-page {
  text-align: center;
}
