<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-shield"></i></a>
    <a href="#"><i class="fa-solid fa-beer-mug-empty"></i></a>
    <a href="#"><i class="fa-solid fa-fire"></i></a>
    <a href="#"><i class="fa-solid fa-chess-rook"></i></a>
    <a href="#"><i class="fas fa-skull"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa-solid fa-dragon"></i> Air Dnd, partenaire de vos quêtes depuis 3500 ans <i class="fa-solid fa-dragon fa-flip-horizontal"></i>
  </div>
</div>
